[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "cgltf"]
	path = cgltf
	url = http://github.com/jkuhlmann/cgltf
[submodule "cglm"]
	path = cglm
	url= http://github.com/recp/cglm
